// Variables
$color-orange: #E17000;
$color-gray: #E5E5E5;
$color-blue: #0074D9;

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

// Base
*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  @include desktop () {
    font-size: 18px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


// Typography
h1, h2, h2, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}
h1 {
  font-size: 28px;
  @include desktop () {
    font-size: 36px;
  }
}
h2 {
  font-size: 22px;
  @include desktop () {
    font-size: 28px;
  }
}

p {
  margin: 0;
  font-weight: 500;
  &.light {
    font-weight: 400;
  }
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  color: $color-blue;
}
